<form id="sign-up-form" class="form">
    <div>
        <label for="email-field">Email</label>
        <input type="email" name="email" id="email-field" class="form__field" required/>
    </div>
    <div>
        <label for="password-field">Password</label>
        <input type="password" name="password" id="password-field" class="form__field" required/>
    </div>
    <div>
        <label for="name-field">Name</label>
        <input name="name" id="name-field" class="form__field" required/>
    </div>
    <div>
        <label for="address-field">Address</label>
        <input name="address" id="address-field" class="form__field" required/>
    </div>
    <div id="sign-up-form-error" class="form-error hidden"></div>
    <button type="button" class="btn" id="sign-up-submit-btn">Sign up</button>
</form>
<script src="/public/js/signUp.js"></script>
